@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


*{
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: rgb(255, 255, 255);
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://media2.giphy.com/media/vQvzZ6kbFzmhqnlrhx/giphy.webp?cid=ecf05e47k0xbh882ou1j5tb63bzhrwajdnluuz2i53tcd18p&ep=v1_gifs_search&rid=giphy.webp&ct=g');
    background-size: cover;
    background-position: center;
}

div {
    text-align: center;
    border-radius: 20%;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}
button{
    padding: 10px;
    width: 100%;
    background-color: #0000ff;
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    background-color: rgb(0, 0, 0);
}